In [3]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [6]:
# Get the path to chromedriver in the current directory
chrome_driver_path = "./chromedriver"
options = Options()
webdriver.Chrome(options=options)

options = Options()
options.add_argument('--disable-gpu')
options.add_argument('--headless')

driver = webdriver.Chrome()
driver.get("https://hh.ru/account/login?customDomain=1")

In [18]:
pass_button = driver.find_elements(By.CLASS_NAME, 'bloko-link.bloko-link_pseudo')
pass_button[1].click()

In [74]:
search = driver.find_elements(By.CLASS_NAME, 'bloko-input-text')
print(len(search))
search[1].send_keys('rabotastar1@gmail.com')
search[2].send_keys('199225199225')

4

In [76]:
search[2].send_keys(Keys.ENTER)

In [77]:
driver.get('https://hh.ru/applicant/vacancy_response?vacancyId=85928412')

In [78]:
driver.get('https://hh.ru/applicant/vacancy_response?vacancyId=85969320')

Закончился Селениум, начинается Pandas

In [20]:
import pandas as pd

In [21]:
df = pd.read_excel('main (9).xlsx')

In [24]:
df.head(5)

,Unnamed: 0,id,premium,name,has_test,response_letter_required,response_url,sort_point_distance,published_at,created_at,...,address_metro_line_id,address_metro_lat,address_metro_lng,employer_logo_urls_None,employer_logo_urls_original,employer_logo_urls_90,employer_logo_urls_240,employer_logo_urls_nan,address_metro_stations_None,address_metro_stations_nan
0,0,85928412,False,Старший финансовый аналитик / Senior financial...,False,False,NaN,NaN,2023-08-29T10:09:31+0300,2023-08-29T10:09:31+0300,...,NaN,NaN,NaN,False,https://hhcdn.ru/employer-logo-original/999319...,https://hhcdn.ru/employer-logo/5618064.png,https://hhcdn.ru/employer-logo/5618065.png,NaN,True,NaN
1,1,85969320,False,Аналитик экономической безопасности,False,False,NaN,NaN,2023-08-29T18:43:17+0300,2023-08-29T18:43:17+0300,...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,True,NaN
2,2,85931286,False,Аналитик-стажер,False,False,NaN,NaN,2023-08-29T10:38:22+0300,2023-08-29T10:38:22+0300,...,NaN,NaN,NaN,False,https://hhcdn.ru/employer-logo-original/842082...,https://hhcdn.ru/employer-logo/3809203.png,https://hhcdn.ru/employer-logo/3809204.png,NaN,False,NaN
3,3,85644688,False,Дата-аналитик,True,False,NaN,NaN,2023-08-29T14:33:20+0300,2023-08-29T14:33:20+0300,...,NaN,NaN,NaN,False,https://hhcdn.ru/employer-logo-original/108288...,https://hhcdn.ru/employer-logo/5952173.jpeg,https://hhcdn.ru/employer-logo/5952174.jpeg,NaN,True,NaN
4,4,85925310,False,Аналитик,False,False,NaN,NaN,2023-08-29T09:42:35+0300,2023-08-29T09:42:35+0300,...,NaN,NaN,NaN,False,https://hhcdn.ru/employer-logo-original/727729...,https://hhcdn.ru/employer-logo/3352000.png,https://hhcdn.ru/employer-logo/3352001.png,NaN,False,NaN

In [26]:
filtered_df = df['salary_from'] > 100000
len(filtered_df)

107